body {
  overflow: hidden;
}

.conv-page {
  display: grid;
  grid-template-columns: 1fr 4fr;

  .left-column {
    display: flex;
    flex-direction: column;
    background-color: $textcolor;
    border: 2px solid lightgray;
    height: 100vh;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    .new-contact {
      vertical-align: middle;
      background-image: linear-gradient(to right, silver, $backgroundColor);
      height: 60px;
      width: 100%;
      border: 2px solid lightgray;
      &:hover {
        cursor: pointer;
      }
      &:focus {
        outline: 0;
      }
    }
    .Contact {
      vertical-align: middle;

      height: 60px;
      width: 100%;
      border: 2px solid lightgray;
      &:hover {
        box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.7);
      }
      &:focus {
        box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.7);
        outline: 0;
      }
    }
  }
  .right-column {
    background-color: $backgroundColor;
    border: 2px solid lightgray;
    height: 90vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;

    .content {
      flex: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .user_message {
        background-color: #0dd325;
        border-radius: 50px;
        width: 35%;
        margin-left: 800px;
      }
    }
    input {
      flex: inherit;
    }
  }
}
